.container {
  min-height: 60vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: 0;
  background-color: ghostwhite;
}
footer a {
  padding-right: 10px;
}
a {
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.inner-container {
  background-color: ghostwhite;
  padding: 20px;
  width: 100%;
}
.navigation {
  padding: 20px;
}
.navigation a {
  display: block;
}
/* .button-primary span{
  display: none
}  */
.button-primary span {
  border: 0;
  clip: react(0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  width: 1px;
  white-space: no-wrap;
}
svg {
  width: 40px;
}

.button-error svg {
  fill: red;
}

.pop-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup {
  max-width: 320px;
  width: 100%;
  background-color: honeydew;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.input-container label {
  display: block;
  margin-bottom: 20px;
}
.inner-container input {
  display: block;
  padding: 10px;
  height: 20px;
  margin-bottom: 20px;
}
.wrapper{
  max-width:960px;
  width: 100%;
  margin: 0 auto;
}


#wrapper{
  height: 400px;
}

#wrapper h2, .meter-traingle{
  text-align: center;
}

#meter{
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
}

.App-highcharts svg{
  width: 100%;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1;
  position: relative;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 10vh;
  z-index: 1;
}


.sidenav {
  height: 100vh;
  width: 200px;
  top:0;
  position: fixed;
  background-color: #88b9f5;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  margin-top: 10vh;
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: Black;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.hero-img{
  width: 100%;
}

.hero-content{
  text-align: center;
  position: absolute;
  top: 30%;
  left: 25%
}

.App-aboutUs{
  padding: 3rem;
}

.App-services{
  padding: 0 3rem 3rem;
}

h3.w3l-sub {
  font-size: 3em;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

p.sub-p {
  font-size: 2em;
  color: #000;
  letter-spacing: 2px;
  margin: .3em 0;
}

p.sub-p2 {
  color: #ea8116;
  font-size: 1.6em;
}

p.sub-p3 {
  margin: 1em 0;
}

.App-cards{
  margin-bottom: 200px;
  padding-left: 30px;
}

.App-cards img{
  padding: 30px
}

.scroll-region{
  height: 200px;
  overflow-y: auto;
  width: 30vw;
  border: 1px solid grey;
  margin: 20px 50px;
}

.scroll-region div{
  height: 100%;
}

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  overflow:auto;
  padding:5px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}
form{
  width:30vw;
  padding:30px
}
form input{
  outline: none;
    padding: 10px;
    font-size: 1em;
    color: #555;
    width: 100%;
    border: 1px solid #E6E6E6;
    margin: 20px;
}

button{
  width: auto;
  padding: 10px 30px;
  margin: 20px;
}
